.chatManager {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.chatManager h2 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.chatManager select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.chatManager input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.chatManager button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #ffd800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0;
}

.chatManager button:hover {
  background-color: #ffdb4d;
}

.chatList {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.room_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.room_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.room_area img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 30px;
}

.room_area input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.join_btn {
  padding: 10px;
  background-color: #ffd800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.join_btn:hover {
  background-color: #ffdb4d;
}

.delete_btn {
  padding: 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.delete_btn:hover {
  background-color: #ff3333;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #ffd800;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #ffdb4d;
}

.pagination button.active {
  background-color: #ff9900;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* 검색 입력 필드 스타일 */
.search-input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-input:focus {
  border-color: #ffd800;
  box-shadow: 0 0 5px rgba(255, 216, 0, 0.5);
  outline: none;
}
